
<ActionBar color="blue" title="Watson App">
</ActionBar>

<StackLayout with = "100%" height= "100%">
  
       <StackLayout backgroundColor="white" orientation="vertical" horizontalAlignment= "center" width="100%" height="50%" justifyContent="space-around" >
                <StackLayout height = "100%">
                    <Scrollview  *ngFor="let choice of choices">
                        <StackLayout orientation="vertical" horizontalAlignment= "left" >
                            <label  style="padding: 10; font-size: 23;" text="{{ choice }}" (tap)="showDetails($event)">
                            </label>
                        </StackLayout>
                    </Scrollview >
                </StackLayout>
            </StackLayout>

       <!-- This would be a component that is passed the selected index if using the dropdown-->
       <StackLayout height= "50%" width = "100%" style="margin: 5; padding: 5; border-radius: 15px;" backgroundColor="#3e4e55" >
            <Scrollview  orientation="vertical" height= "100%" width = "99%" backgroundColor="white" style="border-radius: 25;">
                <label text="{{hairColor}}&#xA;{{eyeColor}}&#xA;{{usesLightSaber}}" style="font-size: 20; padding: 5;" textWrap="true">
                </label>
            </Scrollview>
       </StackLayout>
          
        
   
</StackLayout>
